
@{
    ViewBag.Title = "Index";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Danh sách đơn hàng </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Stt</th>
                                <th>Mã đơn hàng</th>
                                <th>Tên Khách hàng</th>
                                <th>Ngày giao hàng</th>
                                <th>Địa chỉ</th>
                                <th>Thành Tiền</th>
                                <th> Nhóm Lệnh</th>
                            </tr>
                        </thead>
                        <tbody>
                         
                            <tr>
                                <td>01</td>

                                <td>
                                    89965
                                </td>
                                <td> Nguyễn Văn tèo</td>
                                <td> 21/10/2022</td>
                                <td>839 lê hồng phong Q.10</td>
                                <td>120000</td>
                                <td>
                                    <button class="btn btn-danger"> Hủy Đơn hàng </button>
                                    <button class=" btn btn-default">Chi tiết</button>
                                    <button class=" btn btn-success"> Kích hoạt</button>                              
                                </td>
                                
                            </tr>
                            <tr>
                                <td> 02</td>
                                <td>
                                    12359
                                </td>
                                <td>Tết Tét</td>
                                <td>26/12/2022</td>
                                <td> 20 trần thị cờ Q12.HCM</td>
                                <td>90000</td>
                                <td>
                                    <button class="btn btn-danger"> Hủy Đơn hàng </button>
                                    <button class=" btn btn-default">Chi tiết</button>
                                    <button class=" btn btn-success"> Kích hoạt</button>
                                </td>

                            </tr>
                            <tr>
                                <td> 03</td>
                                <td>
                                    78956
                                </td>
                                <td> Chiến Đình Kiêu</td>
                                <td>7/8/2022</td>
                                <td> 136 Nguyễn Oanh Quận Gò Vấp.HCM</td>
                                <td>170000</td>
                                <td>
                                    <button class="btn btn-danger"> Hủy Đơn hàng </button>
                                    <button class=" btn btn-default">Chi tiết</button>
                                    <button class=" btn btn-success"> Kích hoạt</button>
                                </td>

                            </tr>
                            <tr>
                                <td> 04</td>
                                <td>
                                    036963158
                                </td>
                                <td> Trần Ngọc Đan thư</td>
                                <td>9/10/2022</td>
                                <td> châu thành Đồng Nai</td>
                                <td>300000</td>
                                <td>
                                    <button class="btn btn-danger"> Hủy Đơn hàng </button>
                                    <button class=" btn btn-default">Chi tiết</button>
                                    <button class=" btn btn-success"> Kích hoạt</button>
                                </td>

                            </tr>
                            <tr>
                                <td> 05</td>
                                <td>
                                    12358
                                </td>
                                <td> Võ Thiên Kim</td>
                                <td>12/12/2022</td>
                                <td> Cai Lậy Tiền Giang</td>
                                <td>350000</td>
                                <td>
                                    <button class="btn btn-danger"> Hủy Đơn hàng </button>
                                    <button class=" btn btn-default">Chi tiết</button>
                                    <button class=" btn btn-success"> Kích hoạt</button>
                                </td>

                            </tr>
                            <tr>
                                <td> 06</td>
                                <td>
                                    895654
                                </td>
                                <td> Ngô Ngọc Tuyền</td>
                                <td>06/12/2022</td>
                                <td> Vĩnh Thuận Kiên giang</td>
                                <td>350000</td>
                                <td>
                                    <button class="btn btn-danger"> Hủy Đơn hàng </button>
                                    <button class=" btn btn-default">Chi tiết</button>
                                    <button class=" btn btn-success"> Kích hoạt</button>
                                </td>

                            </tr>
                            <tr>
                                <td> 07</td>
                                <td>
                                    78955
                                </td>
                                <td> Trần Trung Dũng</td>
                                <td>05/6/2022</td>
                                <td> 171 Kinh Dương Vương</td>
                                <td>7000000</td>
                                <td>
                                    <button class="btn btn-danger"> Hủy Đơn hàng </button>
                                    <button class=" btn btn-default">Chi tiết</button>
                                    <button class=" btn btn-success"> Kích hoạt</button>
                                </td>

                            </tr>
                            <tr>
                                <td> 08</td>
                                <td>
                                    89678
                                </td>
                                <td> Nguyễn thị Hồng </td>
                                <td>7/8/2022</td>
                                <td> ở nhà</td>
                                <td>56000000</td>
                                <td>
                                    <button class="btn btn-danger"> Hủy Đơn hàng </button>
                                    <button class=" btn btn-default">Chi tiết</button>
                                    <button class=" btn btn-success"> Kích hoạt</button>
                                </td>

                            </tr>
                            <tr>
                                <td> 09</td>
                                <td>
                                    89856
                                </td>
                                <td> Diệp Lan Anh</td>
                                <td>30/11/2022</td>
                                <td> 971 Hoàng Văn Thụ Q.Tân Bình</td>
                                <td>980000</td>
                                <td>
                                    <button class="btn btn-danger"> Hủy Đơn hàng </button>
                                    <button class=" btn btn-default">Chi tiết</button>
                                    <button class=" btn btn-success"> Kích hoạt</button>
                                </td>

                            </tr>
                            <tr>
                                <td> 10</td>
                                <td>
                                    89642
                                </td>
                                <td> Phạm Thị hoa</td>
                                <td>22/12/2022</td>
                                <td> 77 Cách mạng tháng 8 Q.3</td>
                                <td>500000</td>
                                <td>
                                    <button class="btn btn-danger"> Hủy Đơn hàng </button>
                                    <button class=" btn btn-default">Chi tiết</button>
                                    <button class=" btn btn-success"> Kích hoạt</button>
                                </td>

                            </tr>

                            </tbody>
                     </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data Table With Full Features</h3>
                </div>
                <!-- /.box-header -->
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
